---
import Base from "../layouts/Base.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<Base description="Nelly Blanken is an interdisciplinary artist rooted in multimedia practices, theater, literature, and metalwork. Combining sculptural elements with sound, programming, and sometimes video, her work explores themes of identity and memory, transmission and distortion, as well as control, surveillance, and the relationship between humans and their environment.">
	<h1>Design Overview</h1>
	<ol>
		<li><a href={`${baseUrl}/design/path-layout/?wireframe=true`}>Path Layout</a></li>
		<li><a href={`${baseUrl}/design/path-layout/`}>Path Layout Because Colours</a></li>
		<li><a href={`${baseUrl}/design/glitch/`}>Glitch Effect</a></li>
		<li><a href={`${baseUrl}/design/glitch2/`}>Glitch Effect 2</a></li>
	</ol>
</Base>