---
import Glitch2Component from "../../components/Glitch2.astro";
---
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Glitch</title>
	</head>
	<body>
		<Glitch2Component/>
	</body>
</html>